<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
<h1>회원가입</h1>
<hr>
<form id="regForm" action="@{/join}" method="post">
	<input type="text" name="username" placeholder="input id..."><br>
	<input type="text" name="password" placeholder="input password..."><br>
	<input type="text" name="tel" placeholder="input tel..."><br>
	<input type="text" name="role" placeholder="input role...."><br>
	
	<button type="submit">회원가입</button>
</form>

</body>
</html>